USE [master]
GO
/****** Object:  Database [ITCDB]    Script Date: 06-02-2026 10:05:05 ******/
CREATE DATABASE [ITCDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITCDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITCDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITCDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITCDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITCDB]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[description] [varchar](500) NULL,
	[url] [varchar](300) NOT NULL,
	[image_url] [varchar](300) NULL,
	[category_id] [int] NOT NULL,
	[owner_email] [varchar](150) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_access_requests]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_access_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[application_id] [int] NOT NULL,
	[reason] [varchar](500) NULL,
	[status] [varchar](20) NULL,
	[requested_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[application_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[holiday_units]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[holiday_units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_id] [int] NOT NULL,
	[unit_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[holidays]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[holidays](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_date] [date] NOT NULL,
	[name] [varchar](150) NOT NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hr_update_attachments]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hr_update_attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hr_update_id] [int] NOT NULL,
	[file_name] [varchar](255) NULL,
	[file_path] [varchar](500) NULL,
	[file_type] [varchar](50) NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hr_updates]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hr_updates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[content] [text] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_by] [int] NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[important_contacts]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[important_contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NULL,
	[designation] [varchar](150) NULL,
	[department] [varchar](150) NULL,
	[email] [varchar](150) NULL,
	[phone] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[support_contacts]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support_contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[team_name] [varchar](150) NULL,
	[email] [varchar](150) NULL,
	[phone] [varchar](50) NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[units]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06-02-2026 10:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[display_name] [varchar](150) NULL,
	[role_id] [int] NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[applications] ON 

INSERT [dbo].[applications] ([id], [name], [description], [url], [image_url], [category_id], [owner_email], [is_active], [created_at]) VALUES (1, N'HRMS TRB', N'HR Management System', N'https://hrms21.itc.com', N'/images/hrms.png', 1, N'hr@itc.com', 1, CAST(N'2026-01-30T11:35:20.573' AS DateTime))
INSERT [dbo].[applications] ([id], [name], [description], [url], [image_url], [category_id], [owner_email], [is_active], [created_at]) VALUES (2, N'ENCON1', N'Energy Consumption Portal', N'https://encon523.itc.com', N'/images/encon.png', 4, N'it@itc.com', 1, CAST(N'2026-01-30T11:35:20.573' AS DateTime))
INSERT [dbo].[applications] ([id], [name], [description], [url], [image_url], [category_id], [owner_email], [is_active], [created_at]) VALUES (3, N'Test Site', N'Testing a application inserts', N'www.google.com', N'', 4, NULL, 1, CAST(N'2026-02-03T14:16:58.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[applications] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description], [is_active], [created_at]) VALUES (1, N'HR/Admin', N'HR and Admin applications', 1, CAST(N'2026-01-30T11:34:58.540' AS DateTime))
INSERT [dbo].[categories] ([id], [name], [description], [is_active], [created_at]) VALUES (2, N'Finance', N'Finance related systems', 1, CAST(N'2026-01-30T11:34:58.540' AS DateTime))
INSERT [dbo].[categories] ([id], [name], [description], [is_active], [created_at]) VALUES (3, N'Digital (IT/CoE)', N'IT and digital platforms', 1, CAST(N'2026-01-30T11:34:58.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[favorites] ON 

INSERT [dbo].[favorites] ([id], [user_id], [application_id], [created_at]) VALUES (2, 1, 2, CAST(N'2026-02-02T10:58:13.283' AS DateTime))
INSERT [dbo].[favorites] ([id], [user_id], [application_id], [created_at]) VALUES (4, 2, 4, CAST(N'2026-02-04T12:04:35.660' AS DateTime))
INSERT [dbo].[favorites] ([id], [user_id], [application_id], [created_at]) VALUES (5, 3, 4, CAST(N'2026-02-05T10:28:29.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[holiday_units] ON 

INSERT [dbo].[holiday_units] ([id], [holiday_id], [unit_id]) VALUES (9, 1, 3)
INSERT [dbo].[holiday_units] ([id], [holiday_id], [unit_id]) VALUES (10, 2, 2)
INSERT [dbo].[holiday_units] ([id], [holiday_id], [unit_id]) VALUES (7, 3, 4)
SET IDENTITY_INSERT [dbo].[holiday_units] OFF
GO
SET IDENTITY_INSERT [dbo].[holidays] ON 

INSERT [dbo].[holidays] ([id], [holiday_date], [name], [description], [created_at], [created_by]) VALUES (1, CAST(N'2024-01-26' AS Date), N'Republic Day', N'', CAST(N'2026-01-30T11:36:42.190' AS DateTime), NULL)
INSERT [dbo].[holidays] ([id], [holiday_date], [name], [description], [created_at], [created_by]) VALUES (2, CAST(N'2024-08-15' AS Date), N'Independence Day', N'', CAST(N'2026-01-30T11:36:42.190' AS DateTime), NULL)
INSERT [dbo].[holidays] ([id], [holiday_date], [name], [description], [created_at], [created_by]) VALUES (3, CAST(N'2026-02-23' AS Date), N'Gandhi Jayanti', N'', CAST(N'2026-01-30T11:36:42.190' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[holidays] OFF
GO
SET IDENTITY_INSERT [dbo].[hr_update_attachments] ON 

INSERT [dbo].[hr_update_attachments] ([id], [hr_update_id], [file_name], [file_path], [file_type], [uploaded_at]) VALUES (1, 2, N'531861E0-7465-4547-B74C-7901CBD25BA2.jpeg', N'/uploads/hr/1770183752630-531861E0-7465-4547-B74C-7901CBD25BA2.jpeg', N'image/jpeg', CAST(N'2026-02-04T11:12:32.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[hr_update_attachments] OFF
GO
SET IDENTITY_INSERT [dbo].[hr_updates] ON 

INSERT [dbo].[hr_updates] ([id], [title], [content], [start_date], [end_date], [created_by], [is_active], [created_at]) VALUES (1, N'Test Update 3', N'This is a sample HR update for testing.', CAST(N'2024-07-01' AS Date), CAST(N'2024-07-31' AS Date), 3, 1, CAST(N'2026-01-30T11:35:58.130' AS DateTime))
INSERT [dbo].[hr_updates] ([id], [title], [content], [start_date], [end_date], [created_by], [is_active], [created_at]) VALUES (2, N'Yoga Training Session Comming Soon', N'Yoga is very important for everyone in there life, in the busy world yoga will make your mind calm and peaceful', CAST(N'2026-02-04' AS Date), CAST(N'2026-03-31' AS Date), 3, 1, CAST(N'2026-02-04T11:12:32.690' AS DateTime))
INSERT [dbo].[hr_updates] ([id], [title], [content], [start_date], [end_date], [created_by], [is_active], [created_at]) VALUES (3, N'Ugadi Celebration ', N'Please participate all the candidates in ugadi celebration and make it very colorful ', CAST(N'2026-03-18' AS Date), CAST(N'2026-04-30' AS Date), 3, 1, CAST(N'2026-02-04T11:32:01.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[hr_updates] OFF
GO
SET IDENTITY_INSERT [dbo].[important_contacts] ON 

INSERT [dbo].[important_contacts] ([id], [name], [designation], [department], [email], [phone], [created_at], [is_active]) VALUES (1, N'Ravi Kumar', N'Manager', N'HR', N'ravi.kumar@itc.com', N'9999999999', CAST(N'2026-01-30T11:37:06.857' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[important_contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'EMPLOYEE')
INSERT [dbo].[roles] ([id], [name]) VALUES (3, N'HR_ADMIN')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'IT_ADMIN')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[support_contacts] ON 

INSERT [dbo].[support_contacts] ([id], [team_name], [email], [phone], [description], [created_at], [is_active]) VALUES (1, N'IT Support', N'itsupport@itc.com', N'8888888888', N'For application related issues', CAST(N'2026-01-30T11:37:22.070' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[support_contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[units] ON 

INSERT [dbo].[units] ([id], [code], [name], [is_active], [created_at]) VALUES (1, N'DHQ', N'Division Head Quarters', 1, CAST(N'2026-01-31T11:21:23.220' AS DateTime))
INSERT [dbo].[units] ([id], [code], [name], [is_active], [created_at]) VALUES (2, N'TRV', N'Triveni', 1, CAST(N'2026-01-31T11:21:23.220' AS DateTime))
INSERT [dbo].[units] ([id], [code], [name], [is_active], [created_at]) VALUES (3, N'KOV', N'Kovai', 1, CAST(N'2026-01-31T11:21:23.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[units] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [display_name], [role_id], [is_active], [created_at], [updated_at]) VALUES (1, N'employee@itc.com', N'Normal Employee', 1, 1, CAST(N'2026-01-30T11:34:41.553' AS DateTime), CAST(N'2026-01-30T11:34:41.553' AS DateTime))
INSERT [dbo].[users] ([id], [email], [display_name], [role_id], [is_active], [created_at], [updated_at]) VALUES (2, N'itadmin@itc.com', N'IT Admin', 2, 1, CAST(N'2026-01-30T11:34:41.553' AS DateTime), CAST(N'2026-01-30T11:34:41.553' AS DateTime))
INSERT [dbo].[users] ([id], [email], [display_name], [role_id], [is_active], [created_at], [updated_at]) VALUES (3, N'hradmin@itc.com', N'HR Admin', 3, 1, CAST(N'2026-01-30T11:34:41.553' AS DateTime), CAST(N'2026-01-30T11:34:41.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [idx_apps_category]    Script Date: 06-02-2026 10:05:06 ******/
CREATE NONCLUSTERED INDEX [idx_apps_category] ON [dbo].[applications]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_fav]    Script Date: 06-02-2026 10:05:06 ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [uq_fav] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_favorites_user]    Script Date: 06-02-2026 10:05:06 ******/
CREATE NONCLUSTERED INDEX [idx_favorites_user] ON [dbo].[favorites]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_holiday_unit]    Script Date: 06-02-2026 10:05:06 ******/
ALTER TABLE [dbo].[holiday_units] ADD  CONSTRAINT [uq_holiday_unit] UNIQUE NONCLUSTERED 
(
	[holiday_id] ASC,
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_hr_updates_date]    Script Date: 06-02-2026 10:05:06 ******/
CREATE NONCLUSTERED INDEX [idx_hr_updates_date] ON [dbo].[hr_updates]
(
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B1D668420]    Script Date: 06-02-2026 10:05:06 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__units__357D4CF964C95BBB]    Script Date: 06-02-2026 10:05:06 ******/
ALTER TABLE [dbo].[units] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61645F90E910]    Script Date: 06-02-2026 10:05:06 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 06-02-2026 10:05:06 ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_access_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[employee_access_requests] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[favorites] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[holidays] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hr_update_attachments] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[hr_updates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[hr_updates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[important_contacts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[important_contacts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[support_contacts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[support_contacts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[units] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[units] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [fk_apps_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [fk_apps_category]
GO
ALTER TABLE [dbo].[employee_access_requests]  WITH CHECK ADD  CONSTRAINT [fk_req_app] FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[employee_access_requests] CHECK CONSTRAINT [fk_req_app]
GO
ALTER TABLE [dbo].[employee_access_requests]  WITH CHECK ADD  CONSTRAINT [fk_req_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[employee_access_requests] CHECK CONSTRAINT [fk_req_user]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [fk_fav_app] FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [fk_fav_app]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [fk_fav_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [fk_fav_user]
GO
ALTER TABLE [dbo].[holiday_units]  WITH CHECK ADD  CONSTRAINT [fk_hu_holiday] FOREIGN KEY([holiday_id])
REFERENCES [dbo].[holidays] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[holiday_units] CHECK CONSTRAINT [fk_hu_holiday]
GO
ALTER TABLE [dbo].[holiday_units]  WITH CHECK ADD  CONSTRAINT [fk_hu_unit] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([id])
GO
ALTER TABLE [dbo].[holiday_units] CHECK CONSTRAINT [fk_hu_unit]
GO
ALTER TABLE [dbo].[hr_update_attachments]  WITH CHECK ADD  CONSTRAINT [fk_hr_attach] FOREIGN KEY([hr_update_id])
REFERENCES [dbo].[hr_updates] ([id])
GO
ALTER TABLE [dbo].[hr_update_attachments] CHECK CONSTRAINT [fk_hr_attach]
GO
ALTER TABLE [dbo].[hr_updates]  WITH CHECK ADD  CONSTRAINT [fk_hr_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[hr_updates] CHECK CONSTRAINT [fk_hr_user]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_users_roles]
GO
USE [master]
GO
